In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/content/StudentsPerformance.csv')

In [3]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [8]:
df.shape

(1000, 8)

In [9]:
df.size

8000

In [10]:
df.ndim

2

In [11]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [13]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [15]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [19]:
df[['math score','reading score']]

     math score  reading score
0            72             72
1            69             90
2            90             95
3            47             57
4            76             78
..          ...            ...
995          88             99
996          62             55
997          59             71
998          68             78
999          77             86

[1000 rows x 2 columns]

In [20]:
df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [21]:
df['lunch'].nunique()

2

In [23]:
df[df['math score'] > 80]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
16,male,group C,high school,standard,none,88,89,86
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
...,...,...,...,...,...,...,...,...
979,female,group C,associate's degree,standard,none,91,95,94
981,male,group D,some high school,standard,none,81,78,78
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
995,female,group E,master's degree,standard,completed,88,99,95

In [24]:
df['math score'] > 80

0      False
1      False
2       True
3      False
4      False
       ...
995     True
996    False
997    False
998    False
999    False
Name: math score, Length: 1000, dtype: bool

In [25]:
df[df['writing score'] < 50]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
11,male,group D,associate's degree,standard,none,40,52,43
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
...,...,...,...,...,...,...,...,...
921,female,group C,high school,free/reduced,none,35,53,46
928,male,group E,associate's degree,free/reduced,completed,46,43,44
978,male,group D,high school,standard,completed,55,41,48
980,female,group B,high school,free/reduced,none,8,24,23
988,female,group A,some high school,free/reduced,none,44,45,45

In [31]:
df[df['test preparation course'] == 'completed']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,completed,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,completed,90,95,93
3,male,group A,associate's degree,free/reduced,completed,47,57,44
4,male,group C,some college,standard,completed,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,completed,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,completed,77,86,86

In [50]:
df[df['lunch']=='free/reduced']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,True,group B,bachelor's degree,free/reduced,completed,72,72,74
1,True,group C,some college,free/reduced,completed,69,90,88
2,True,group B,master's degree,free/reduced,completed,90,95,93
3,False,group A,associate's degree,free/reduced,completed,47,57,44
4,True,group C,some college,free/reduced,completed,76,78,75
...,...,...,...,...,...,...,...,...
995,True,group E,master's degree,free/reduced,completed,88,99,95
996,False,group C,high school,free/reduced,completed,62,55,55
997,False,group C,high school,free/reduced,completed,59,71,65
998,True,group D,some college,free/reduced,completed,68,78,77
999,True,group D,some college,free/reduced,completed,77,86,86

In [53]:
avg=df['math score'].mean()
avg

np.float64(66.089)

In [59]:
df['reading score'].max()

100

In [60]:
df['reading score'].min()

17

In [65]:
df.groupby('race/ethnicity').size()

race/ethnicity
group A     89
group B    190
group C    319
group D    262
group E    140
dtype: int64

In [69]:
df.groupby('gender')['writing score'].mean()

gender
False    56.998162
True     81.243421
Name: writing score, dtype: float64

In [72]:
df['math score'].sort_values(ascending=False).head(10)

451    100
458    100
962    100
149    100
623    100
625    100
916    100
114     99
263     99
306     99
Name: math score, dtype: int64

In [79]:
total=df['total_score']= df['math score'] + df['reading score'] + df['writing score']
total

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [84]:
average=df['average_score']=df['total_score']/3
average

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: total_score, Length: 1000, dtype: float64

In [86]:
df['result']=np.where(df['average_score']>=60,'pass','fail')

In [77]:
df.sort_values(by='total_score',ascending=True).head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average_score,result
59,False,group C,some high school,free/reduced,completed,0,17,10,27,9.000000,fail
980,False,group B,high school,free/reduced,completed,8,24,23,55,18.333333,fail
596,False,group B,high school,free/reduced,completed,30,24,15,69,23.000000,fail
327,False,group A,some college,free/reduced,completed,28,23,19,70,23.333333,fail
17,False,group B,some high school,free/reduced,completed,18,32,28,78,26.000000,fail

In [78]:
df.sort_values(by='math score',ascending=True).tail(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average_score,result
623,True,group A,some college,free/reduced,completed,100,96,86,282,94.000000,pass
625,True,group D,some college,free/reduced,completed,100,97,99,296,98.666667,pass
962,True,group E,associate's degree,free/reduced,completed,100,100,100,300,100.000000,pass
458,True,group E,bachelor's degree,free/reduced,completed,100,100,100,300,100.000000,pass
916,True,group E,bachelor's degree,free/reduced,completed,100,100,100,300,100.000000,pass