In [ ]:
import pandas as pd
import numpy as np
df= pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.head()

In [ ]:
df.sample(10)
# df.sample is used to retrive the random rows from the dataframe
# df.sample by default give any one random row from the dataframe
# but if we n rows from dataframe df.sample(n)

In [ ]:
df.tail()
# df.tail is used to retrive the 5 rows from the dataframe

In [ ]:
# the data is divided mainly into two parts
# 1. Numerical data -> age,marks,salary
# 2. Categorical data -> gender,customer name
df.info()

In [ ]:
df.describe()
# df.describe is used to show five point summary of the data or it shows
# the statistical property of the data on the numerical columns
# minimum -> min -> 0th percentile
# 25th percentile
# 50th percentile
# 75th percentile
# max-> 100 percentile
# count-> shows the total number of entries
# it shows the mean and standard deviation of the numerical column

In [ ]:
df.isna().sum()
# df.isna() -> return true or false by checking wether the row entry is null or not
# ->if the row entry is null then it return true
# -> if row entry is not null then its return false

# df.isna().sum() -> it return the total numbers of null values from the data frame along with their column names

In [ ]:
df.fillna(0, inplace=True)
# df.fillna is used to fill the null values with some value
# inplace = True , is used to change into the original dataframe

In [ ]:
df.['category'].unique()
# to find all the categories of the dataframe we use .unique() method
# it return an array of categories

In [ ]:
df.['category'].value_counts()
# to find the total number of values count of the each category of the
# categorical column we use .value_counts() method.

In [ ]:
numerical_data=[df.select_dtypes(include='float')]
df.select_dtypes(exclude='float').columns

# For selecting the cat column we use
# df.select_dtype(include='float') -> df.select